// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #cfcfcf;
@light-gray: rgb(73,73,73);
@gray: #707070;
@dark-gray: rgb(86,86,86);
@very-dark-gray: rgb(0,0,0);

@blue: #3fab94;
@green: #78b13c;
@dark-green: rgba(120,177,60,0.9);
@yellow: #d0b138;
@orange: #da9336;
@pink: #b03f93;
@red: #b03f3f;

@dark-red: rgba(206, 47, 47,0.7);
@middle-red: rgba(206, 47, 47,0.9);
@middle-green: rgba(120,177,60,0.9);

@purple: #763cb1;

@cyan: #3fab94;
@light-orange: rgb(177, 129, 60);

@white: #cfcfcf;
